@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Start of header upmake */
header {
  height: auto;
  width: 70%;

  display: flex;
  background-color: white;
}

header h1 {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  font-size: 45px;
  font-weight: 900;
  color: #617051;
}

header img {
  max-height: 161px;
  max-width: 145px;
  padding: 25px;
  padding-left: 50px;
  flex: 1;
}

/* end of header upmake */

/* Start of Navigation upmake */
nav {
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

nav ul li {
  width: 200px;
  list-style: none;
  text-align: center;

  background-color: #6e3f2c;
}

nav ul li a {
  padding: 15px 0px 15px 0px;
  display: block;
  background-color: #6e3f2c;
  color: white;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
  color: #6e3f2c;
  background-color: white;
}

/* end of nav upmake */

/* start of main upmake */
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 70%;
}

/* end of main upmake */

/* start of banner upmake */
#banner {
  padding: 50px;
  background-color: white;
  text-align: center;
}

#banner h1 {
  font-weight: 900;
  padding-bottom: 30px;
  color: #6e3f2c;
}

#banner p {
  font-weight: 700;
}

/* end of banner upmake */

/* start of boulder upmake */
main figure {
  display: flex;
  flex-direction: column;

  border: #6e3f2c 15px solid;
}

main figure figcaption {
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: white;
  color: #6e3f2c;
  font-weight: 700;
}

/* end of boulder upmake */

/* start of footer upmake */

footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 25px;
  background: white;
  text-align: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

/* end of footer upmake */
