* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 700px;
}

header {
  margin-top: 5px;
  margin-right: 5rem;
  margin-left: 5rem;
  min-width: 250px;
  padding: 10px;

  color: red;
  background-color: white;
  text-shadow: 1px 1px black;

  text-align: center;
  font-size: 3rem;

  display: flex;
  align-items: center;
}

header h1 {
  flex: auto;
}

nav {
  margin-right: 5rem;
  margin-left: 5rem;
  min-width: 250px;

  color: gray;
}

nav ul {
  font-size: 2rem;
  list-style: none;

  background-color: white;

  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: orange;
  text-shadow: 1px 1px black;
}

main {
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 1rem;

  background-color: white;

  flex: 1;
  text-align: center;
}

main h1 {
  text-align: center;
  padding: 0.5rem;
  flex: 1;
}

.space {
  background-color: orange;
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: url("../images/nice-cursor.png"), auto;
}

footer {
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 1rem;

  background-color: white;

  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  margin-top: auto;
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

small {
  font-size: 15px;
}
