* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ;
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 700px;
}

header {
  margin-top: 5px;
  margin-right: 5rem;
  margin-left: 5rem;
  min-width: 250px;
  padding: 10px;

  color: red;
  background-color: white;
  text-shadow: 1px 1px black;

  text-align: center;
  font-size: 3rem;

  display: flex;
  align-items: center;
}

header h1 {
  flex: auto;
}

nav {
  margin-right: 5rem;
  margin-left: 5rem;
  min-width: 250px;

  color: gray;
}

nav ul {
  font-size: 2rem;
  list-style: none;

  background-color: white;

  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: orange;
  text-shadow: 1px 1px black;
}

main {
  margin-right: 5rem;
  margin-left: 5rem;
  background-color: white;

  display: flex;
  flex-direction: column;
}

main h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main table,
th,
td,
tr {
  border: rgb(168, 110, 3) 2px solid;
  border-collapse: collapse;
  padding: 10px;
  font-size: 20px;
}

table {
  margin: 20px;
}

thead {
  background-color: orange;
}

tbody {
  background-color: rgb(248, 223, 176);
}

#fnatic {
  width: 20px;
}

.description {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

footer {
  margin-right: 5rem;
  margin-left: 5rem;
  padding: 1rem;

  background-color: white;

  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  margin-top: auto;
  text-decoration: underline;
}
