h1 {
  color: brown;
  text-align: center;
}

h2 {
  color: brown;
  text-align: center;
}

p {
  color: brown;
  text-align: center;
}

head {
  text-align: center;
}

body {
  background-image: url("https://64.media.tumblr.com/tumblr_mbeg3u395G1rn95k2o1_500.gifv");
  background-size: 120%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
